<!DOCTYPE html>
<html <%- helmet.htmlAttributes.toString() %>>
<head>
  <script>
    var loc = window.location;
    if (loc.hostname !== 'localhost' && loc.hostname !== '127.0.0.1' && loc.protocol === 'http:') {
      loc.protocol = 'https:'
    }
  </script>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%- helmet.title.toString() %>
  <%- helmet.meta.toString() %>

  <%- faviconHtml %>

  <% cssAssets.forEach(function(file){ %>
  <link href="<%- file -%>" rel="stylesheet">
  <% }); %>

  <%- appCss -%>
</head>
<body>
  <div id="app"><%- appHtml -%></div>

  <% jsAssets.forEach(function(file){ %>
  <script src="<%- file -%>" async></script>
  <% }); %>
  <!-- Scratchblocks-->
  <script src="https://scratchblocks.github.io/js/scratchblocks-v3.1-min.js"></script>
  <script src="https://scratchblocks.github.io/js/translations-all-v3.1-min.js" charset="utf8"></script>
  <script>scratchblocks.renderMatching('pre', {languages: ['nb', 'nn', 'en']});</script> <!-- std blocks -->
  <script>scratchblocks.renderMatching('code.b', {languages: ['nb', 'nn', 'en'], inline: true});</script>  <!-- inline blocks -->
</body>
</html>
